<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>145560379638-vkokoifvl2sql5se33cflq86kdddqh12.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.145560379638-vkokoifvl2sql5se33cflq86kdddqh12</string>
	<key>API_KEY</key>
	<string>AIzaSyA4-o28Dg7wYWaNenh-UM-BWEQqN66orGc</string>
	<key>GCM_SENDER_ID</key>
	<string>145560379638</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.uber-clone.com.Uber-Clone</string>
	<key>PROJECT_ID</key>
	<string>uberclone-b9ab9</string>
	<key>STORAGE_BUCKET</key>
	<string>uberclone-b9ab9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:145560379638:ios:edcd922c1360eaff904cd7</string>
	<key>DATABASE_URL</key>
	<string>https://uberclone-b9ab9.firebaseio.com</string>
</dict>
</plist>